:root
    {
        --very-light-pink: #C7C7C7;
        --text-input-field: #F7F7F7;
        --hospital-green: #ACD9B2;
        --strong-hospital-green: #82db8e;
        --white: #FFFFFF;
        --black: #000000;
        --small: 14x;
        --medium: 16px;
        --large: 18px;
    }
    body
    {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
    }

.wrap-container
{
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
    

}

.info-container 
{
    width: 300px;
    height: 600;
    margin: 0 20px;
    display: grid;
    place-items: center;
    
    
}

.info-container img
{
    border-radius: 50%;
    border: 1px solid var(--white);
    width: 220px;
    height: 220px;
}

.info-container .primary-button
{
    display: grid;
    place-items: center;
    border: none;
    width: 100%;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--hospital-green);
    font-size: var(--medium);
    color: var(--white);
    text-decoration: none;
    transition: 1s;
    
}

.primary-button:hover
{
    background-color: #41db55;
    box-shadow: 2px 4px 5px var(--very-light-pink);
}

.info-container span h1
{
    margin: 18px 0 0 0
}

.info-container span h2
{
    margin: 4px 0  24px 0
}