

@media (min-width: 784px) { 


    .main-section--hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-section--info-container{
        width: 50%;
    }

    .info-container--subtitle{
        width: 300px;
        text-align: start;
    }

    .hero-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    
    }

    .main-hero--img{
        width: clamp(300px, 50vw, 700px);
        height:  clamp(300px, 50vw, 700px);
    }

    .onlyVisibleInMobile{
        display: none;
      }

 }

 @media  (min-width: 1024px){
    .main-section--portafolio{
    padding: 0 0;
    height: 90vh;

  }

  .section-portafolio--container{
    width: 100%;
    height: auto;
    max-width: 1300px;
    overflow: visible;
  }

  .card{
    width: clamp(400px, 40vw, 700px);
   
  }

 }
