

@media (min-width: 784px) { 

    .main-section--hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-section--info-container{
        width: 50%;
    }

    .info-container--subtitle{
        width: 300px;
        text-align: start;
    }

    .hero-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    
    }

    .main-hero--img{
        width: 300px;
        height: 400px;
    }

 }
